---
layout: default
title: Home
---

<div class="img">
    <img src="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAAhRAAAAJDhjZGIzZjQ2LTU1OTctNDJjZi1iMWNmLTkwZmFjNTA5ZGE4NQ.jpg" />
</div>

<p>MS Health Data Science, HSPH<a href="https://hsph.harvard.edu"</a></p>



<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
 -->
